@use "/app/assets/variables" as var;

.form-overlay {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    width: 450px;
    border-radius: 8px;
    padding: 0 2% 2%;
    background-color: white;
    border: 0.1px solid var.$border-color;
}