.jobs-listing-container {
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-auto-rows: 420px;
    grid-auto-columns: 300px;
    gap: 25px;
}

@media only screen and (max-width: 1300px) {
    .jobs-listing-container {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

@media only screen and (max-width: 980px) {
    .jobs-listing-container {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
}

@media only screen and (max-width: 700px) {
    .jobs-listing-container {
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
}