@use "@/styles/variables" as var;

.submit-btn {
    @include var.primary-button;
    transition: 0.3s;
    padding: 15px 0px 15px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: white;
    background-color: var.$primary-color;
    cursor: pointer !important;
}

.inactive {
    opacity: 0.5;
    background-color: rgb(163, 163, 163);
    color: black;
    cursor: not-allowed !important;
}

.active:hover {
    background-color: var.$secondary-color;
}