@use "@/styles/variables" as var;

.searchBarContainer {
    flex: 0 1 auto;
    min-width: 200px;
    width: 800px;
    padding: 0 20px;
}

.searchBar {
    display: flex;
    border-radius: 50px;
    transition: 0.3s;
    background-color: var(--input-color);
    //border: 1px solid var(--border-color);
}

.searchBar:focus {
    box-shadow: 0 0 3px solid var.$primary-color;
}

.searchBarFocus {
    outline: none;
    //border: 1px solid var.$primary-color;
    box-shadow: 0 0 3px 1px var.$primary-color;
}

.search-bar-input {
    width: 93%;
    padding: 14px 20px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--input-color);
    color: var(--text-color);
}

.search-bar-input::placeholder {
    color: var(--text-secondary-color);
}

.search-bar-input::-webkit-input-placeholder {
    color: var(--text-secondary-color);
}

.search-bar-input::-moz-placeholder {
    color: var(--text-secondary-color);
}

.search-bar-input:focus::placeholder {
    color: rgb(184, 184, 184);
}

.search-bar-input:focus::-webkit-input-placeholder {
    color: rgb(184, 184, 184);
}

.search-bar-input:focus::-moz-placeholder {
    color: rgb(184, 184, 184);
}

.search-icon {
    display: flex;
    align-items: center;
    width: 70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--card-bg);
}

.search-btn {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--input-color);
    border: none;
    line-height: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
    svg {
        transition: 0.3s;
    }
}

.search-bar-small {
    input {
        padding: 12px 20px;
        font-size: 14px;
    }
    width: 30%;
}
