@use "/app/assets/variables" as var;

.category-btn {
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: gray;
    
    .category-icon {
        svg {
            color: gray !important; 
        }
    }
}

.category-btn:hover {
    transition: 0.3s;
    border-bottom: 2px solid var.$border-color; 
}

.selected {
    transition: 0.1s linear;
    border-bottom: 2px solid black !important;
    color: black;

    .category-icon {
        svg {
            color: black !important; 
        }
    }
}