@use "@/css/variables" as var;

.pendingJobContainer {
    border: 1px solid var(--border-color);
    overflow: hidden;
    background-color: var(--card-bg);
    border-radius: 12px;

    max-width: 280px;
    min-width: 200px;

    padding: 15px;
}

.title {
    font-weight: 500;
    font-size: 16px;
    
    * {
        text-decoration: none;
        color: var(--text-color);
    }
}


.workerPfpContainer {
    width: 100%;
    padding-top: var.$margin-m;
    text-align: center;
}

.workerPfp {
    max-width: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: var(--text-color); 
}

.link:hover {
    text-decoration: underline;
}

.workerNameContainer {
    padding-top: var.$margin-s;
    font-size: 14px;
}

.workerName {
    padding-top: var.$margin-xxs;
    font-size: 18px;
}

.rating {
    padding-top: var.$margin-xxs;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.sendMsgBtnContainer {
    margin-top: var.$margin-l;
}

.sendMsgBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var.$primary-color;
    color: white;
    transition: 0.3s;
}

.sendMsgBtn:hover {
    background-color: var.$secondary-color;
}

@media only screen and (max-width: 730px){
    .title {
        font-size: 14px;
    }

    .workerNameContainer {
        font-size: 14px;
    }

    .workerName {
        font-size: 16px;
    }

    .workerPfp {
        width: 100px;
    }
}