@use "@/styles/variables" as var;

.messageContainer {
    width: 100%;
    margin-bottom: var.$margin-xxs;
}

.ownMessageContainer {
    text-align: right;
}

.otherMessageContainer {
    justify-content: left;
}

.message {
    width: fit-content;
    max-width: 60% !important;
    font-size: 14px;
    padding: 6px;
    border-radius: 8px;
    white-space: pre-line;
    overflow-wrap: break-word;
    display: inline-block;
}

.ownMessage {
    border: 1px solid var.$primary-color;
    background-color: var.$primary-color;
    color: white;
}

.otherMessage {
    border: 1px solid var(--input-color);
    background-color: var(--input-color);
}

.readDate {
    padding-top: 4px;
    font-size: 12px;
    color: var(--text-secondary-color);
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}