@use "@/styles/variables" as var;

.resetPasswordFormContainer {
    background-color: transparent;
    border: none;
}

.formInput {
    padding: 14px 0px 14px 10px;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    background-color: var(--input-color);
    border: none;
    color: var(--text-color);
    outline: none;
}

.form-input::placeholder {
    color: var(--text-secondary-color);
}

.form-input::-webkit-input-placeholder {
    color: var(--text-secondary-color);
}

.form-input::-moz-placeholder {
    color: var(--text-secondary-color);
    opacity: 1;
}

.form-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}

.reset-password-form {
    width: 400px;
}

.disclaimer {
    font-size: small;
    color: var(--text-secondary-color);
}

.input-field {
    padding: 10px 0;
}