@use "/app/assets/variables" as var;

.form-input {
    padding: 15px 0px 15px 10px;
    border-radius: 8px;
    border: 0.2px solid gray;
    font-size: 16px;
}

.input-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    padding-top: 5px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

.form-title {
    text-align: center;
}

hr {
    border-top: 1px;
}

button {
    background-color: var.$primary-color;
    border: none;
    color: white;
    cursor: pointer;
}

select:invalid {
    color:gray;
}

.disabled-option {
    color: gray;
}