@use "/app/assets/variables" as var;

.submit-btn {
    border: none;
    color: white;
    transition: 0.3s;
    padding: 15px 0px 15px 10px;
    border-radius: 8px;
    border: 0.2px solid gray;
    font-size: 16px;
}

.active {
    color: white;
    background-color: var.$primary-color;
    cursor: pointer;
}

.inactive {
    opacity: 0.5;
    background-color: rgb(163, 163, 163);
    color: black;
}

.active:hover {
    background-color: var.$secondary-color;
}