@use "/app/assets/variables" as var;

.date-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.date-input {
    padding: 15px 0px 15px 10px;
    border-radius: 6px;
    border: 0.2px solid var.$border-color;
    font-size: 16px;
    width: 100%;
    outline: none;
}