@use "@/styles/variables" as var;

.title {
    font-size: 60px;
    font-weight: 700;
}

.startVerificationBtn {
    background-color: #15b67c;
    color: white;
    border: none;
    padding: 20px 100px;
    border-radius: 6px;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.startVerificationBtn:hover {
    background-color: #18c787;
}

.requirements {
    padding-bottom: 15px;
}

.steps {
    li {
        margin-bottom: 10px;
    }
}

.informationDisclaimer {
    color: var.$primary-color;
    text-decoration: none;
}

.informationDisclaimer:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 805px) {
    .title {
        font-size: 40px;
    }
}