@use "/app/assets/variables" as var;

.name-input-container {
   display: grid;
   grid-auto-flow: column;
   column-gap: 10px;
}

.form-title {
    text-align: center;
}

.form-hr {
    border-top: 1px;
}

.disabled-option {
    color: gray;
}

.cancel-btn {
    background-color: white;
    border: none;
    font-size: large;
    padding: 20px 0px;
    cursor: pointer;
    position: fixed;
}

.hr-style {
    border: none;
    height: 1px;
    background-color: rgb(199, 199, 199);
}

.div-center {
    text-align: center;
}

.buttom-links {
    font-size: medium;

    a {
        text-decoration: none;
        color: var.$primary-color;
        font-weight: bold;
    }
}