.forgotPasswordFormContainer {
    width: 550px;
    background-color: var(--auth-forms-bg);
}

.forgot-password-form {
    width: 100%;
}

.input-field {
    padding-bottom: 25px;
    position: relative;
}

.form-title {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
}

.forgot-password-instructions {
    font-size: 15px;
}

.formInput {
    padding: 14px 0px 14px 10px;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    background-color: var(--input-color);
    border: none;
    color: var(--text-color);
    outline: none;
}

.form-input::placeholder {
    color: var(--text-secondary-color);
}

.form-input::-webkit-input-placeholder {
    color: var(--text-secondary-color);
}

.form-input::-moz-placeholder {
    color: var(--text-secondary-color);
    opacity: 1;
}