.forgotPasswordFormContainer {
    width: 550px;
    background-color: var(--auth-forms-bg);
}

.input-field {
    padding-bottom: 25px;
    position: relative;
}

.form-title {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
}

.forgot-password-instructions {
    font-size: 15px;
}

.formInput {
    padding: 14px 0px 14px 10px;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    background-color: var(--input-color);
    border: none;
    color: var(--text-color);
    outline: none;
}

.form-input::placeholder {
    color: var(--text-secondary-color);
}

.form-input::-webkit-input-placeholder {
    color: var(--text-secondary-color);
}

.form-input::-moz-placeholder {
    color: var(--text-secondary-color);
    opacity: 1;
}

.returnBtn {
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-weight: 500;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.closeBtn:hover {
    background-color: var(--button-hover)
}

.formLogotype {
    display: none;
}

@media only screen and (max-width: 650px) {
    .formLogotype {
        display: block;
    }

    .forgotPasswordFormContainer {
        height: 100%;
    }
}