@use "@/css/variables" as var;

.container {
    max-width: 2400px;
    margin: 0 auto;
    
    * {
        max-width: 2400px;
    }
}

.topMenu {
    top: 0;
    width: 100%;
    padding-bottom: 65px;
    position: fixed;
    background-color: var(--background-color);
    z-index: 99;
    box-shadow: 0 3px 2px -2px var(--border-color);
    margin: 0em;
}