//fonts
$primary-font-color: #1c1b1b; //primary color for fonts

//borders
$border-color: #d4d4d4; //primary color for borders

$primary-color: #5961f8; //5961f8 second option

$secondary-color: #8288f7;

$gradient-color: rgb(214, 225, 238);

$bg-gray: rgb(243, 243, 243);

@mixin primary-button {
    background-color: $primary-color;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
