@use "./variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.color-black {
    color: var.$primary-font-color;
}

.color-white {
    color: white;
}

.color-error {
    color: rgb(255, 33, 33);
}

.color-primary {
    color: var.$primary-color;
}

.bg-gray {
    background-color: var.$bg-gray;
}

.bg-primary {
    background-color: var.$primary-color;
}

.error-border {
    border: 1px solid red !important;
    margin:-1.5px 0 0 -1.5px;
}

.error-msg {
    font-size: small;
    color: rgb(175, 0, 0);
}

.normal-border {
    border: 0.2px solid var.$border-color;
}

.purple-border {
    border: 1px solid var.$primary-color;
    margin: -1px 0 0 -1px;
}

.center {
    text-align: center;
}

.global-svgs {
    color: black;

    path {
        stroke-width: 2;
        transition: 0.1s;
    }
}

.global-svgs:hover {
    path {
        stroke-width: 4;
    }
}