@use "./variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.color-black {
    color: var.$primary-font-color;
}

.color-white {
    color: white;
}

.color-error {
    color: rgb(255, 33, 33);
}

.color-primary {
    color: var.$primary-color;
}
