@use "@/styles/variables" as var;

.form-overlay {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    border-radius: 8px;
    padding: 0 30px 30px;
    border: 1px solid var(--border-color);
}