@use "/app/assets/variables" as var;

.posting {
    border: 1px solid var.$border-color;
    width: 300px;
    height: 420px;
    border-radius: 12px;
    overflow: hidden;
    
    a {
        color: black;
    }
}

.posting-photo-container {
    width: 298px;
}

.posting-photo {
    width: 100%;
    object-fit: cover;
    height: 275px;
    margin: 0;
}

.posting-information {
    padding: 8px 10px 10px;
    display: grid;
    gap: 8px;
}

.posting-title {
    font-weight: bold;
    height: 20px;
}

.posting-description {
    font-size: 15px;
    color: gray;
    height: 38px;
}

.posting-price {
    height: 20px;
    font-weight: 500;
    font-size: 14px;
}

.posting-author {
    font-size: small;
    color: gray;
}