@use "@/css/variables" as var;

.footer {
    width: 100%;
    padding: 30px 20%; 
    //border-top: 0.5px solid var(--border-color);
}

.footer-content-container { 
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
}

.content {
    font-size: 13px;
    text-decoration: none;
}

.color-light {
    color: gray;
}

.color-dark {
    color: white;
}

.content:hover {
    text-decoration: underline;
}

.company-tag {
    font-size: 12px;
    color: rgb(159, 159, 159);
}